In [13]:
import pandas as pd
from sklearn.cluster import MeanShift
import numpy as np
import requests

In [ ]:
audioURL = 'https://api.spotify.com/v1/audio-features'


cid = "85adddf24b3e499fbef6959a381ba39a"
secret = "09ee60e23780455691f3b0ad565fc8ef"

headers = {
    'Authorization': 'Bearer 1POdFZRZbvb...qqillRxMr2z'
}
params = {
    'ids': '7ouMYWpwJ422jRcDASZB7P,4VqPOruhp5EdPBeR92t6lQ,2takcwOaAZWiXQijPHIx7B'
}

# Send an HTTP GET request to the URL and get the HTML content
response = requests.get(url)
html_content = response.text

# Parse the HTML content with BeautifulSoup
soup = BeautifulSoup(html_content, 'lxml')

# Find the first tag in the HTML document

# Print the first tag
print(soup)

In [2]:
movies = pd.read_json("movies.json")
reviews = pd.read_json("reviews.json")

In [3]:
reviews = reviews.drop(["timestamp"], axis = 1)

In [4]:
merged_data = pd.merge(movies, reviews, on='item_id')

# Group by movie title and count the number of ratings for each movie
ratings_count = merged_data.groupby('item_id').size().reset_index(name='rating_count')

# Sort the DataFrame by the count of ratings in descending order
sorted_movies = ratings_count.sort_values(by='rating_count', ascending=False)

print(sorted_movies)

      item_id  rating_count
49         50           583
257       258           507
99        100           506
180       181           506
293       294           483
...       ...           ...
1573     1574             1
1574     1575             1
1575     1576             1
1576     1577             1
1681     1682             1

[1682 rows x 2 columns]

In [5]:
mostReviewed = 3
topN = sorted_movies.head(mostReviewed)
topN

     item_id  rating_count
49        50           583
257      258           507
99       100           506

In [40]:
top3DF = reviews[reviews['item_id'].isin(topN['item_id'])]
print(len(top3DF['user_id'] == 0))

top3DF

1596

In [41]:
pivotDF = top3DF.pivot(index='user_id', columns = "item_id", values="rating")

In [11]:
pivotDF = pivotDF.dropna(axis=0, how="all")

In [14]:
pivotDF = pivotDF.fillna(-1)

In [15]:
ms = MeanShift(bandwidth=2)

In [16]:
ms = ms.fit(pivotDF)

In [17]:
ms.labels_

array([4, 0, 0, 2, 3, 1, 0, 0, 3, 4, 1, 6, 4, 0, 1, 3, 5, 5, 1, 2, 4, 0,
       3, 0, 6, 3, 0, 1, 0, 3, 1, 2, 2, 4, 2, 2, 1, 4, 0, 0, 1, 1, 2, 4,
       7, 5, 4, 6, 0, 0, 4, 3, 0, 1, 0, 4, 2, 0, 0, 0, 0, 3, 3, 0, 4, 1,
       1, 5, 6, 5, 6, 1, 0, 1, 5, 1, 4, 0, 2, 1, 1, 6, 4, 0, 0, 4, 1, 1,
       0, 2, 4, 3, 4, 0, 2, 5, 2, 1, 0, 2, 2, 2, 0, 5, 1, 3, 3, 6, 0, 3,
       1, 1, 4, 3, 2, 3, 3, 2, 0, 5, 1, 2, 2, 2, 6, 4, 5, 5, 2, 0, 2, 0,
       0, 2, 2, 4, 2, 1, 0, 2, 3, 5, 0, 1, 2, 1, 1, 4, 2, 6, 2, 2, 6, 3,
       2, 2, 2, 1, 1, 0, 0, 0, 2, 2, 6, 1, 3, 0, 3, 5, 1, 1, 6, 0, 6, 1,
       6, 3, 3, 6, 3, 0, 2, 3, 2, 2, 2, 6, 3, 4, 0, 1, 3, 1, 2, 5, 2, 2,
       1, 0, 2, 2, 2, 1, 2, 1, 4, 1, 1, 0, 1, 1, 5, 2, 1, 0, 3, 1, 0, 1,
       0, 0, 0, 5, 1, 3, 6, 1, 0, 2, 2, 7, 0, 5, 7, 5, 1, 0, 1, 3, 0, 4,
       0, 3, 0, 0, 2, 1, 1, 2, 2, 1, 2, 7, 0, 1, 0, 4, 1, 1, 0, 0, 1, 0,
       0, 4, 1, 5, 0, 2, 0, 0, 7, 0, 1, 2, 3, 3, 1, 0, 5, 5, 1, 1, 1, 3,
       0, 3, 1, 4, 7, 0, 0, 1, 5, 3, 5, 0, 2, 1, 4, 5, 0, 4, 5, 0, 0, 0,
       1, 0, 5, 5, 3, 2, 1, 2, 0, 2, 2, 2, 4, 0, 0, 2, 0, 6, 0, 1, 4, 1,
       4, 5, 1, 1, 5, 6, 0, 1, 0, 1, 7, 5, 2, 5, 4, 0, 6, 1, 6, 0, 3, 3,
       4, 0, 5, 1, 1, 1, 2, 5, 0, 0, 2, 4, 1, 0, 2, 1, 2, 3, 0, 6, 2, 0,
       0, 2, 1, 5, 1, 0, 6, 7, 0, 1, 2, 0, 0, 0, 4, 0, 4, 1, 1, 5, 2, 5,
       5, 2, 0, 1, 0, 2, 5, 0, 2, 1, 0, 0, 0, 0, 0, 1, 3, 6, 3, 5, 0, 3,
       0, 3, 0, 0, 0, 4, 0, 0, 1, 1, 0, 0, 1, 3, 3, 3, 0, 0, 0, 2, 0, 6,
       5, 0, 1, 4, 4, 0, 0, 7, 0, 5, 2, 1, 0, 4, 3, 3, 4, 3, 2, 3, 3, 0,
       2, 4, 3, 5, 5, 0, 5, 3, 1, 5, 0, 1, 3, 2, 1, 5, 0, 0, 4, 0, 0, 3,
       0, 3, 1, 2, 3, 0, 2, 0, 0, 3, 7, 0, 1, 1, 0, 4, 5, 0, 7, 4, 4, 3,
       1, 5, 5, 0, 2, 5, 3, 6, 4, 1, 1, 2, 0, 0, 1, 0, 6, 3, 4, 2, 2, 5,
       5, 0, 1, 1, 0, 3, 4, 2, 4, 0, 4, 1, 5, 5, 0, 5, 5, 2, 4, 5, 3, 5,
       5, 2, 5, 1, 3, 4, 1, 1, 3, 0, 0, 2, 6, 2, 0, 0, 0, 4, 0, 6, 1, 1,
       5, 3, 3, 1, 0, 3, 2, 4, 4, 0, 0, 3, 0, 2, 1, 3, 1, 3, 1, 0, 1, 1,
       0, 3, 3, 3, 4, 2, 4, 2, 0, 1, 1, 1, 2, 0, 2, 1, 4, 3, 4, 5, 3, 1,
       4, 0, 0, 4, 1, 2, 0, 1, 4, 3, 5, 3, 4, 0, 3, 4, 3, 1, 4, 0, 4, 2,
       3, 5, 3, 2, 6, 0, 5, 0, 6, 4, 0, 4, 6, 0, 1, 2, 4, 0, 6, 4, 0, 4,
       0, 3, 0, 2, 1, 2, 4, 2, 0, 0, 0, 3, 3, 3, 0, 1, 4, 4, 5, 1, 2, 0,
       3, 2, 0, 4, 2, 4, 5, 3, 4, 0, 3, 2, 2, 4, 1, 2, 6, 1, 0, 4, 5, 1,
       1, 1, 0, 4, 3, 3, 4, 2, 1, 0, 0, 3, 2, 2, 5, 3, 2, 2, 2, 2, 2, 5,
       1, 0, 3, 2, 6, 1, 0, 3, 1, 0, 4, 2, 2, 0, 0, 1, 2, 2, 3, 0, 3, 3,
       4, 4, 3, 1, 2, 0, 2, 2, 5, 5, 0, 2, 0, 6, 3, 1, 1, 0, 3, 2, 2, 5,
       3, 2, 0, 4, 0, 1, 3, 1, 6, 1, 1, 1, 5, 0, 3, 1, 1, 3, 0, 1, 0, 4,
       2, 3, 5, 4, 3, 1, 6, 5, 0, 1, 1, 0, 2, 1, 1, 0, 2, 4, 3, 1, 0, 2,
       1, 1, 0, 5, 1, 1, 5, 0, 0, 0, 2, 0, 2, 3, 1], dtype=int64)

In [18]:
from sklearn.metrics import silhouette_score

In [19]:
score = silhouette_score(pivotDF, ms.labels_)

In [20]:
score

0.651624514271997

In [26]:
scores = {}

for i in range(2, 10):
    ms = MeanShift(bandwidth=i)
    ms = ms.fit(pivotDF)
    if (len(set(ms.labels_)) > 1):
        score = silhouette_score(pivotDF, ms.labels_)
        scores[i] = score

In [27]:
scores

{2: 0.651624514271997,
 3: 0.6819678355942147,
 4: 0.3667231373387644,
 5: 0.3374988034418743}

In [29]:
bestBinwidth = max(scores, key=scores.get)
print(bestBinwidth)

ms = MeanShift(bandwidth=bestBinwidth)
ms = ms.fit(pivotDF)

3

In [30]:
pivotDF.head()

item_id  50   100  258
user_id
0        5.0 -1.0 -1.0
1        5.0  5.0  5.0
2        5.0  5.0  3.0
3       -1.0 -1.0  2.0
4        5.0 -1.0  5.0

In [31]:
user1 = reviews[reviews['user_id'] == 1]

In [34]:
user2 = reviews[reviews['user_id'] == 2]

In [35]:
user2

       user_id  item_id  rating
702          2      292       4
926          2      251       5
1052         2       50       5
3420         2      314       1
5056         2      297       4
...        ...      ...     ...
77680        2      288       3
85357        2      286       4
87936        2      275       5
95400        2      302       5
97335        2      296       3

[62 rows x 3 columns]

In [37]:
user1[user1['item_id'] == 302]

Empty DataFrame
Columns: [user_id, item_id, rating]
Index: []

In [38]:
movies[movies['item_id'] == 302]

     item_id                     title
301      302  L.A. Confidential (1997)